name: Build Workflow
on: [push, pull_request]

jobs:
  core-build:
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push docker container
        uses: docker/build-push-action@v2
        with:
          context: ./chain
          file: ./Dockerfile.ci
          push: true
          tags: odinprotocol/core:latest



